<!DOCTYPE html>
<html class=" " lang="EN" style=""><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!--====== USEFULL META ======-->
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="App Landing Business Template">
    <meta name="keywords" content="Landing, Business, Onepage, Html, Business, Apps, Apps Landing">

    <!--====== TITLE TAG ======-->
    <title>{{title}} {{app.Settings.sitename}}</title>

    <!--====== FAVICON ICON =======-->
    <link rel="shortcut icon" type="image/ico" href="{{app.CONF.url}}front_assets/img/favicon.png">

    <!--====== ASSETS ======-->
    <link href="{{app.CONF.url}}assets/alertify/alertify.min.css" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon Start Here -->
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon-homlisti.svg">
    <link rel="stylesheet" href="/front_assets/jquery-ui.css">
    <!-- Bootstrap Css Start Here -->
    <link rel="stylesheet" href="/front_assets/bootstrap.min.css">
    <!-- Animate Css Start Here -->
    <link rel="stylesheet" href="/front_assets/animate.min.css">
    <!-- Owl Carousel Start Here -->
    <link rel="stylesheet" href="/front_assets/owl.carousel.min.css">
    <link rel="stylesheet" href="/front_assets/owl.theme.default.min.css">
    <!-- Swiper Css Start Here -->
    <link rel="stylesheet" href="/front_assets/swiper-bundle.min.css" />
    <!-- Flaticon Css Start Here -->
    <link rel="stylesheet" href="/front_assets/flaticon.css">
    <!-- Select Css Start Here -->
    <link rel="stylesheet" href="/front_assets/nice-select.css">
    <!-- Animate Css Start Here -->
    <link rel="stylesheet" href="/front_assets/animate.min.css">
    <!-- Pop Up Css Start Here -->
    <link rel="stylesheet" href="/front_assets/magnific-popup.css">
    <!-- All min Css Start Here -->
    <link rel="stylesheet" href="/front_assets/all.min.css">
    <!-- Pannellum -->
    <link rel="stylesheet" href="/front_assets/pannellum.css">
    <!-- noUIrangle slider -->
    <link rel="stylesheet" href="/front_assets/nouislider.min.css">
    <!-- Style Css Start Here -->
    <link rel="stylesheet" href="/front_assets/style.css">
    <!-- Google Font Start Here -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Ubuntu:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap" rel="stylesheet">

    <!--[if lt IE 9]>
        <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    <style id="theia-sticky-sidebar-stylesheet-TSS">.theiaStickySidebar:after {content: "";display: table;clear: both;}</style>


    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="canonical" href="{{app.CONF.url}}">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{app.CONF.url}}">
    <meta property="og:title" content="{{title}} - {{app.Settings.sitename}}">
    <meta property="og:image" content="{{app.CONF.url}}front_assets/img/cover.jpg">
    <meta property="og:description" content="{{desc}}">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:title" content="{{title}} - {{app.Settings.sitename}}">
    <meta property="twitter:image" content="{{app.CONF.url}}front_assets/img/cover.jpg">
    <meta property="twitter:description" content="{{desc}}">
    
    <script type="text/javascript">
        var rootURL = '{{app.CONF.url}}';
        var imgURL = rootURL+'image.php?w=400&h=400&img=pic&src=';
    </script>
</head>


<body class="overflow-xhidden home-four" data-spy="scroll" data-target=".mainmenu-area" data-offset="90">


<body class="sticky-header">
    <!--[if IE]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->
    <!--=====================================-->
    <!--=   Preloader     Start             =-->
    <!--=====================================-->
    <div id="preloader"></div>
    <!--=====================================-->
    <!--=   Preloader     End               =-->
    <!--=====================================-->

    <div class="wrapper" id="wrapper">
    <!--=====================================-->
    <!--=   Header     Start                =-->
    <!--=====================================-->

        <header class="header">
            <div id="header-topbar" class="header-topbar">
                <div class="container">
                    <div class="row d-flex align-items-center">
                        <div class="col-lg-6">
                            <ul class="topbar-left">
                                <li class="item-location"><i class="fas fa-map-marker-alt"></i><span>{{app.Settings.address}}</span></li>
                            </ul>
                        </div>
                        <div class="col-lg-6 d-flex justify-content-end">
                            <ul class="topbar-right">
                                <li class="social-icon">
                                    <label>Follow Us On:</label>
                                        <a target="_blank" href="https://www.facebook.com/"><i class="fab fa-facebook-square"></i></a>
                                        <a target="_blank" href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
                                        <a target="_blank" href="https://www.linkedin.com/signup"><i class="fab fa-linkedin-in"></i></a>
                                        <a target="_blank" href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div id="rt-sticky-placeholder"></div>
            <div id="header-menu" class="header-menu menu-layout1 rt-sticky">
                <div class="container">
                    <div class="row d-flex align-items-center">
                        <div class="col-xl-4 col-lg-4">
                            <div class="logo-area">
                                <a href="/" class="temp-logo">
                                    <img src="/uploads/img/logo_light.svg" width="157" height="40" alt="logo" class="img-fluid">
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-8 col-lg-8 d-flex justify-content-center position-static">
                            <nav id="dropdown" class="template-main-menu">
                                <ul>
                                    <li>
                                        <a href="{{app.CONF.url}}" class="active">Home</a>
                                    </li>
                                    <li>
                                        <a href="/about">About</a>
                                    </li>
                                    <li>
                                        <a href="/property?request_type=rent">Property for rent</a>
                                    </li>
                                    <li >
                                        <a href="/property?request_type=sale">Property for sale</a>
                                    </li>
                                    <li>
                                        <a href="contact.html">Contact</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div
            class="rt-header-menu mean-container position-relative"
            id="meanmenu">
            <div class="mean-bar">
                <a href="/">
                    <img src='/uploads/img/logo_light2.svg' alt='logo' class='img-fluid'/>
                </a>
                <div class="mean-bar--right">
                    <div class="actions search">
                        <a href="#template-search" class="item-icon" title="Search">
                            <i class="fas fa-search"></i>
                        </a>
                    </div>
                    <div class="actions user">
                        <a href="account.html"><i class="flaticon-user"></i></a>
                    </div>
                    <span class="sidebarBtn">
                        <span class="bar"></span>
                        <span class="bar"></span>
                        <span class="bar"></span>
                        <span class="bar"></span>
                    </span>
                </div>
            </div>
            <div class="rt-slide-nav">
                <div class="offscreen-navigation">
                    <nav class="menu-main-primary-container">
                        <ul class="menu">
                            <li class="list ">
                                <a class="animation" href="/">Home</a>
                            </li>
                            <li class="list menu-item-parent">
                                <a class="animation" href="contact.html">Contact us</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
