{% include 'views/front/includes/header.html.twig' %}

    <!--WELCOME TEXT AREA-->
    <div class="welcome-text-area font16 white">
        <div class="area-bg"></div>
        <div class="welcome-area section-padding">
            <div class="container">
                <div class="row flex-v-center">
                    <div class="col-md-7 col-lg-7 col-sm-12 col-xs-12">
                        <div class="welcome-text">
                            <h4 class="wow fadeInUp" data-wow-delay="0.3s">Play as smart </h4>
                            <h1 class="wow fadeInUp" data-wow-delay="0.6s">Medians PS Café system <span>for PS and internet cafes</span></h1>
                            <div class="haeder-subscribe-form wow fadeInUp" data-wow-delay="0.9s">
                                <form class="subscribe-form hidden-xs" action="#">
                                    <input type="email" name="email" id="sub_email" placeholder="example@example.com">
                                    <button type="submit">Get discount</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="welcome-layer-4 hidden-sm hidden-xs">
                <div class="home4-layer-1 wow fadeInRight" data-wow-delay="0.5s">
                    <img src="{{app.CONF.url}}front_assets/img/slider-1.png" alt="{{app.sitename}}">
                    <div class="video-button item-center"><button class="video-popup" data-video-id="7TUOI23spt0"><i class="fa fa-play"></i></button></div>
                </div>
            </div>
        </div>
    </div>
    <!--WELCOME TEXT AREA END-->

    <!--FEATURES AREA-->
    <section class="features-area section-padding fix" id="features">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                    <div class="area-title sm-center xs-center">
                        <h4 class="subtitle">Medians PS Features</h4>
                        <h2>Features help your business</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-process-box text-icon-box xs-mb50 wow fadeInLeft" data-wow-delay="0.3s">
                        <div><img src="{{app.CONF.url}}front_assets/svg/session.svg" style="padding:5px" class="svg-icon"></div>
                        <h3>Invoices filtration</h3>
                        <p>You can get your invoices reports Daily/Monthly to monitor your sales</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-process-box text-icon-box xs-mb50 wow fadeInLeft" data-wow-delay="0.6s">
                        <div><img src="{{app.CONF.url}}front_assets/svg/devices-availability.svg" class="svg-icon"></div>
                        <h3>Devices availablility</h3>
                        <p>Players can check if there is available device at your branch online and they can book online with your approval</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-process-box text-icon-box xs-mb50 hidden-sm wow fadeInLeft" data-wow-delay="0.9s">
                        <div><img src="{{app.CONF.url}}front_assets/svg/consulting.svg" class="svg-icon"></div>
                        <h3>Stock monitoring</h3>
                        <p>Review your products stock and players can see the available products for ordering  </p>
                    </div>
                </div>
                <div class="col-md-12">
                    <ul class="features-slider" style="list-style: none;">
                        <li>
                            <div class="text-icon-box single-features">
                                <h3>Devices & Prices<br>  control</h3>
                            </div>
                        </li>
                        <li>
                            <div class="text-icon-box single-features">
                                <h3>Cloud data<br>  backup</h3>
                            </div>
                        </li>
                        <li>
                            <div class="text-icon-box single-features">
                                <h3>Online accessibility <br> </h3>
                            </div>
                        </li>
                        <li>
                            <div class="text-icon-box single-features">
                                <h3>Mobile <br> Application</h3>
                            </div>
                        <li>
                        <li>
                            <div class="text-icon-box single-features">
                                <h3>POS System <br> with products</h3>
                            </div>
                        </li>
                        <li>
                            <div class="text-icon-box single-features">
                                <h3>QR Code for <br> Invoices</h3>
                            </div>
                        <li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!--FEATURES AREA END-->

    <!--VIDEO PROMO AREA-->
    <section class="video-promo-area section-padding white" id="video">
        <div class="area-bg"></div>
        <div class="container">
            <div class="row flex-v-center">
                <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                    <div class="area-image-content sm-center xs-center sm-mb50 xs-mb50 wow fadeInRight" data-wow-delay="0.3s">
                        <div class="video-bg-layer" data-parallax='{"x": -50,"y": -50}'><img src="assets/img/video/dots-layer.png" alt=""></div>
                        <img src="assets/img/video/video-bg.jpg" alt="">
                        <div class="video-button item-center"><button class="video-popup" data-video-id="7TUOI23spt0"><i class="fa fa-play"></i></button></div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                    <div class="area-content sm-center xs-center wow fadeInRight" data-wow-delay="0.6s">
                        <h4 class="subtitle">How to use</h4>
                        <h3>Watch this Video presentation</h3>
                        <p>We worked on this software with a passion to go deep into this business categoey, We decided to provide unique solution that helps in management and reporting your business anywehere</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--VIDEO PROMO AREA END-->

    <!--SCREENSHOT AREA-->
    <section class="screenshot-area fix section-padding" id="screenshots">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="area-content xs-center sm-mb50 xs-mb50">
                        <h4 class="subtitle">Clean Design</h4>
                        <h3>Medians PS Screenshots</h3>
                        <p>We have designed the user interface to be familiar with all users to get familiar with the system faster, also it was build in responsive view to be matched with all screens sizes.</p>
                    </div>
                </div>
                <div class="col-md-8 col-sm-12 col-xs-12">
                    <div class="screenshot-slider-4">
                        <div class="single-screenshot">
                            <img src="{{app.CONF.url}}front_assets/img/screen-devices.jpg" alt="">
                        </div>
                        <div class="single-screenshot">
                            <img src="{{app.CONF.url}}front_assets/img/screen-orders.jpg" alt="">
                        </div>
                        <div class="single-screenshot">
                            <img src="{{app.CONF.url}}front_assets/img/screen-order.jpg" alt="">
                        </div>
                        <div class="single-screenshot">
                            <img src="{{app.CONF.url}}front_assets/img/screen-products.jpg" alt="">
                        </div>
                        <div class="single-screenshot">
                            <img src="{{app.CONF.url}}front_assets/img/screen-stock.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--SCREENSHOT AREA END-->

    <!--TESTMONIAL AREA-->
    <section class="testmonial-area section-padding gray-bg fix" id="process">

        <div class="container">
            <div class="row flex-v-center">
                <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                    <div class="area-content sm-center xs-center wow fadeInLeft" data-wow-delay="0.3s">
                        <h3>Free trial to enjoy with our service</h3>
                        <p>You can create a trial account with limited features accessibility, and you can enjoy with your trial period and get familiar before your purchase and make sure that you will see how your business needs it .</p>
                        <a href="#" class="read-more active">free trial</a>
                        <a href="#" class="read-more">contact us</a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                    <div class="area-content">
                        <h4 class="subtitle font500 alt-font uppercase">ask questions</h4>
                        <h2>Frequently Asked Questions</h2>
                        <div class="panel-group sm-mt50 xs-mt50" id="accordion-main">

                            <!-- start tab content -->
                            <div class="panel panel-default active" >
                                <div class="panel-heading">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-main" href="#collapseOne">
                                        <div class="panel-title">
                                            <span>01</span>
                                            <span>How the system works ?</span>
                                            <i class="pull-right fa fa-angle-down"></i>
                                        </div>
                                    </a>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse ">
                                    <div class="panel-body">This is a SaaS platform for PS Cafe owners to manage their shops and monitor each action online or through Mobile APP.</div>
                                </div>
                            </div>
                            <!-- end tab content -->

                            <!-- start tab content -->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-main" href="#collapseTwo">
                                        <div class="panel-title">
                                            <span>02</span>
                                            <span>How can i pay ?</span>
                                            <i class="pull-right fa fa-angle-down"></i>
                                        </div>
                                    </a>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse">
                                    <div class="panel-body">We have multiple payment platforms you can use like: ( Fawry, Meeza, Vodafone Cash, Credit Card, PayPal )   </div>
                                </div>
                            </div>
                            <!-- end tab content -->

                            <!-- start tab content -->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-main" href="#collapseThree">
                                        <div class="panel-title">
                                            <span>03</span>
                                            <span>How can i get acount ?</span>
                                            <i class="pull-right fa fa-angle-down"></i>
                                        </div>
                                    </a>
                                </div>
                                <div id="collapseThree" class="panel-collapse collapse">
                                    <div class="panel-body">You can signup and choose your favourite plan or try our trial then Login to your account to discover the features.</div>
                                </div>
                            </div>
                            <!-- end tab content -->

                            <!-- start tab content -->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-main" href="#collapseFour">
                                        <div class="panel-title">
                                            <span>04</span>
                                            <span>How To Create A Flat Vector ?</span>
                                            <i class="pull-right fa fa-angle-down"></i>
                                        </div>
                                    </a>
                                </div>
                                <div id="collapseFour" class="panel-collapse collapse">
                                    <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do ei temporo incididunt ut labore et dolore magna aliqua. Ut enim ad minim exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute dolor in reprehenderit in voluptate velit esse cillum dolore</div>
                                </div>
                            </div>
                            <!-- end tab content -->

                            <!-- start tab content -->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-main" href="#collapseFive">
                                        <div class="panel-title">
                                            <span>05</span>
                                            <span>How To Create A Flat Vector ?</span>
                                            <i class="pull-right fa fa-angle-down"></i>
                                        </div>
                                    </a>
                                </div>
                                <div id="collapseFive" class="panel-collapse collapse">
                                    <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do ei temporo incididunt ut labore et dolore magna aliqua. Ut enim ad minim exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute dolor in reprehenderit in voluptate velit esse cillum dolore</div>
                                </div>
                            </div>
                            <!-- end tab content -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--TESTMONIAL AREA END-->

    <!--PRICEING AREA-->
    <section class="pricing-area padding-100-50" id="pricing">
        <div class="container">
            <div class="row flex-v-center">
                <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                    <div class="area-title sm-center xs-center">
                        <h4 class="subtitle">pricing plan</h4>
                        <h2>Choose your  Plan </h2>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                    <div class="right price-right-menu sm-mb50 xs-mb50 sm-center xs-center">
                        <ul class="price-menu">
                            <li class="active"><a data-toggle="tab" href="#monthly">Monthly</a></li>
                            <li><a data-toggle="tab" href="#yearly">Yearly</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="tab-content">
                        <div id="monthly" class="tab-pane fade in active">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="single-price mb50">
                                        <div class="price-header">
                                            <div class="price-thumb-hidding">
                                                <img src="{{app.CONF.url}}front_assets/img/rocket.png" alt="">
                                                <div class="price-rate"><span class="currency">{{app.currency}} </span>0</div>
                                                <div class="price-title">Free Plan</div>
                                            </div>
                                        </div>
                                        <div class="price-details">
                                            <ul>
                                                <li><i class="dripicons-checkmark"></i> 3 Devices available </li>
                                                <li><i class="dripicons-checkmark"></i> 3 Products with stock </li>
                                                <li><i class="dripicons-checkmark"></i> 1 Online user </li>
                                                <li><i class="dripicons-cross"></i> 24/7 Support</li>
                                                <li><i class="dripicons-cross"></i> </li>
                                                <li><i class="dripicons-cross"></i> </li>
                                            </ul>
                                        </div>
                                        <div class="price-footer">
                                            <a href="#" class="purchase-button">Purchase</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="single-price mb50 active">
                                        <div class="sale-promo">popular <span>-20%</span></div>
                                        <div class="price-header">
                                            <div class="price-thumb-hidding">
                                                <img src="{{app.CONF.url}}front_assets/img/desktop.png" alt="">
                                                <div class="price-rate"><span class="currency">{{app.currency}} </span>99.99</div>
                                                <div class="price-title">Standard Plan</div>
                                                <small>250 {{app.currency}} for 3 months</small>
                                            </div>
                                        </div>
                                        <div class="price-details">
                                            <ul>
                                                <li><i class="dripicons-checkmark"></i> Unlimited Devices </li>
                                                <li><i class="dripicons-checkmark"></i> Unlimited Products with stock </li>
                                                <li><i class="dripicons-checkmark"></i> 3 Online users </li>
                                                <li><i class="dripicons-checkmark"></i> Online availability </li>
                                                <li><i class="dripicons-checkmark"></i> QR Code for menu </li>
                                                <li><i class="dripicons-cross"></i> 24/7 Support</li>
                                            </ul>
                                        </div>
                                        <div class="price-footer">
                                            <a href="#" class="purchase-button">Purchase</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="single-price mb50">
                                        <div class="price-header">
                                            <div class="price-thumb-hidding">
                                                <img src="{{app.CONF.url}}front_assets/img/witing-puzzle.png" alt="">
                                                <div class="price-rate"><span class="currency">{{app.currency}}</span>150.00</div>
                                                <div class="price-title">Premium Plan</div>
                                                <small>400 {{app.currency}} for 3 months</small>
                                            </div>
                                        </div>
                                        <div class="price-details">
                                            <ul>
                                                <li><i class="dripicons-checkmark"></i> Unlimited Devices & Products </li>
                                                <li><i class="dripicons-checkmark"></i> 10 Online users </li>
                                                <li><i class="dripicons-checkmark"></i> Online availability </li>
                                                <li><i class="dripicons-checkmark"></i> QR Code for menu </li>
                                                <li><i class="dripicons-checkmark"></i> Mobile APP ( Android )</li>
                                                <li><i class="dripicons-checkmark"></i> Cloud Backup </li>
                                            </ul>
                                        </div>
                                        <div class="price-footer">
                                            <a href="#" class="purchase-button">Purchase</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="yearly" class="tab-pane fade">

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="single-price mb50">
                                        <div class="price-header">
                                            <div class="price-thumb-hidding">
                                                <img src="{{app.CONF.url}}front_assets/img/rocket.png" alt="">
                                                <div class="price-rate"><span class="currency">{{app.currency}} </span>0</div>
                                                <div class="price-title">Free Plan</div>
                                            </div>
                                        </div>
                                        <div class="price-details">
                                            <ul>
                                                <li><i class="dripicons-checkmark"></i> 3 Devices available </li>
                                                <li><i class="dripicons-checkmark"></i> 3 Products with stock </li>
                                                <li><i class="dripicons-checkmark"></i> 1 Online user </li>
                                                <li><i class="dripicons-cross"></i> 24/7 Support</li>
                                                <li><i class="dripicons-cross"></i> </li>
                                                <li><i class="dripicons-cross"></i> </li>
                                            </ul>
                                        </div>
                                        <div class="price-footer">
                                            <a href="#" class="purchase-button">Purchase</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="single-price mb50 active">
                                        <div class="sale-promo">popular <span>-30%</span></div>
                                        <div class="price-header">
                                            <div class="price-thumb-hidding">
                                                <img src="{{app.CONF.url}}front_assets/img/desktop.png" alt="">
                                                <div class="price-rate"><span class="currency">{{app.currency}} </span>999.99</div>
                                                <div class="price-title">Standard Plan</div>
                                                <small>For 1 year</small>
                                            </div>
                                        </div>
                                        <div class="price-details">
                                            <ul>
                                                <li><i class="dripicons-checkmark"></i> Unlimited Devices </li>
                                                <li><i class="dripicons-checkmark"></i> Unlimited Products with stock </li>
                                                <li><i class="dripicons-checkmark"></i> 3 Online users </li>
                                                <li><i class="dripicons-checkmark"></i> Online availability </li>
                                                <li><i class="dripicons-checkmark"></i> QR Code for menu </li>
                                                <li><i class="dripicons-cross"></i> 24/7 Support</li>
                                            </ul>
                                        </div>
                                        <div class="price-footer">
                                            <a href="#" class="purchase-button">Purchase</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="single-price mb50">
                                        <div class="price-header">
                                            <div class="price-thumb-hidding">
                                                <img src="{{app.CONF.url}}front_assets/img/witing-puzzle.png" alt="">
                                                <div class="price-rate"><span class="currency">{{app.currency}} </span>1599.99</div>
                                                <div class="price-title">Premium Plan</div>
                                                <small>For 1 year</small>
                                            </div>
                                        </div>
                                        <div class="price-details">
                                            <ul>
                                                <li><i class="dripicons-checkmark"></i> Unlimited Devices & Products </li>
                                                <li><i class="dripicons-checkmark"></i> 10 Online users </li>
                                                <li><i class="dripicons-checkmark"></i> Online availability </li>
                                                <li><i class="dripicons-checkmark"></i> QR Code for menu </li>
                                                <li><i class="dripicons-checkmark"></i> Mobile APP ( Android )</li>
                                                <li><i class="dripicons-checkmark"></i> Cloud Backup </li>
                                            </ul>
                                        </div>
                                        <div class="price-footer">
                                            <a href="#" class="purchase-button">Purchase</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--PRICEING AREA END-->

    <!--CONTACT AREA-->
    <section class="contact-area padding-100-50 gray-bg" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-6 col-md-offset-3 col-lg-offset-3 col-sm-12 col-xs-12">
                    <div class="area-title center">
                        <h4 class="subtitle">Contact Us</h4>
                        <h2>Call Us Or Started To Talk With Us</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5 col-lg-5 col-sm-12 col-xs-12">
                    <div class="contact-content padding50 mb50">
                        <div class="single-contact">
                            <div class="contact-icon"><i class="dripicons-location"></i></div>
                            <h3>Location</h3>
                            <p>7 Mesadaq St..,  Dokki, <br> Cairo, Egypt.</p>
                        </div>
                        <div class="single-contact">
                            <div class="contact-icon"><i class="dripicons-mail"></i></div>
                            <h3>Contact</h3>
                            <p>info@mediansshop.com</p>
                            <p>support@mediansshop.com</p>
                        </div>
                        <div class="single-contact">
                            <div class="contact-icon"><i class="dripicons-phone"></i></div>
                            <h3>Contact</h3>
                            <p>+20 109 686 9285</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-lg-5 col-md-offset-1 col-lg-offset-1 col-sm-12 col-xs-12">
                    <div class="contact-form mb50">
                        <form action="process.php" id="contact-form" method="post">
                            <div class="row">
                                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                                    <div class="form-group" id="name-field">
                                        <div class="form-input">
                                            <label for="form-name">Your Name</label>
                                            <input type="text" class="form-control" id="form-name" name="form-name" placeholder="Add your name" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                                    <div class="form-group" id="email-field">
                                        <div class="form-input">
                                            <label for="form-email">Your Mail</label>
                                            <input type="email" class="form-control" id="form-email" name="form-email" placeholder="Add your email" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                                    <div class="form-group" id="phone-field">
                                        <div class="form-input">
                                            <label for="form-phone">Your Subject</label>
                                            <input type="text" class="form-control" id="form-phone" name="form-phone" placeholder="Add Subject..">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                                    <div class="form-group" id="message-field">
                                        <div class="form-input">
                                            <label for="form-message">Your Message</label>
                                            <textarea class="form-control" rows="6" id="form-message" name="form-message" placeholder="Add Your Message" required></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                                    <div class="form-group mb0">
                                        <button class="read-more active" type="submit">Send Message</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--CONTACT AREA END-->
    
{% include 'views/front/includes/footer.html.twig' %}