
                        <!-- Main player -->

                    <div class="mb-6 p-4 rounded-lg shadow-lg bg-white dark:bg-gray-700 ">

                        <form action="/api/create" method="POST" data-refresh="1" id="add-device-form" class="action  m-auto rounded-lg max-w-xl pb-10">
                            
                        <input name="params[options_img]" type="hidden" :value="activeItem.file ? activeItem.file : activeItem.photo">
                        <span class="block mb-2" v-text="">{{lang.__('Title')}}</span>
                        <input name="params[title]" required="" type="text" class="h-12 mt-3 rounded w-full border px-3 text-gray-700  focus:border-blue-100 dark:bg-gray-800  dark:border-gray-600" placeholder="{{lang.__('Quiz')}}" v-model="activeItem.title">
                        
                        <span class="block mb-2" v-text="">{{lang.__('Sub Title')}}</span>
                        <input name="params[sub_title]" required="" type="text" class="h-12 mt-3 rounded w-full border px-3 text-gray-700  focus:border-blue-100 dark:bg-gray-800  dark:border-gray-600" placeholder="{{lang.__('Sub-title')}}" v-model="activeItem.sub_title">


                        <span class="block my-1" v-text="">{{lang.__('Video filename')}}</span>
                        <input name="params[video_filename]" type="text" class="h-12 mt-3 rounded w-full border px-3 text-gray-700  focus:border-blue-100 dark:bg-gray-800  dark:border-gray-600" placeholder="{{lang.__('Video filename')}}" v-model="activeItem.video_filename">

                        <span class="block my-2" v-text="">{{lang.__('picture')}}</span>
                        <div v-if="activeItem.options_img" class="w-full flex gap gap-6">
                            <img :src="'/'+activeItem.options_img" class="w-20">
                            <span @click="activeItem.options_img = null">{{lang.__('change')}}</span>
                        </div>
                        <div v-else-if="!activeItem.options_img">
                            <vue-medialibrary-field api_url="{{app.CONF.url}}" v-model="activeItem.file"></vue-medialibrary-field>
                        </div>
                        <label class="block mt-3">
                            <span class="block mb-2" v-text="">{{lang.__('category')}}</span>
                            <select v-model="activeItem.category_id" name="params[category_id]" class="form-checkbox p-2 px-3 w-full text-orange-600 border border-1 border-gray-400 rounded-lg">
                            {% for cat in typesList %}
                                {% for type in cat.childs %}
                                <option value="{{type.id}}">{{cat.code}} - {{type.name}}</option>
                                {% endfor %}
                            {% endfor %}
                            </select>
                        </label>

                        <span class="block my-1" v-text="">{{lang.__('Quote title')}}</span>
                        <input name="params[quote_title]" type="text" class="h-12 mt-3 rounded w-full border px-3 text-gray-700  focus:border-blue-100 dark:bg-gray-800  dark:border-gray-600" placeholder="{{lang.__('Quote title')}}" v-model="activeItem.quote_title">
                        
                        <span class="block my-1" v-text="">{{lang.__('Quote Text')}}</span>
                        <textarea name="params[quote_text]"  class="h-40 rounded w-full border px-3 text-gray-700  focus:border-blue-100 dark:bg-gray-800  dark:border-gray-600" placeholder="{{lang.__('Quote text')}}" v-model="activeItem.quote_text"></textarea>

                        <span class="block my-1" v-text="">{{lang.__('Quote video file name')}}</span>
                        <input name="params[quote_video_url]" type="text" class="h-12 mt-3 rounded w-full border px-3 text-gray-700  focus:border-blue-100 dark:bg-gray-800  dark:border-gray-600" placeholder="{{lang.__('Quote title')}}" v-model="activeItem.quote_video_url">

                        <label class="block mt-3">
                            <span class="block mb-2" v-text="">{{lang.__('Next quiz')}}</span>
                            <span :set="quizzes = {{quizzesList}}"></span>
                            <select v-model="activeItem.next_id" name="params[next_id]" class="form-checkbox p-2 px-3 w-full text-orange-600 border border-1 border-gray-400 rounded-lg">
                                <option v-for="quiz in quizzes" v-if="quiz.id != activeItem.id && quiz.category_id == activeItem.category_id" :value="quiz.id" v-text="quiz.title"></option>
                            </select>
                        </label>
                            
                            <button class="uppercase h-12 mt-3 text-white w-full rounded bg-red-700 hover:bg-red-800">{{lang.__('Save')}}</button>
                        </form>

                    </div>

