{% include 'views/admin/includes/header.html.twig' %}
    <!-- main -->
    <main style="" class=" flex-1 overflow-x-hidden overflow-y-auto  ">
        <div class="py-2 mt-1"></div>
        <!-- today tab 1 -->
        <!-- New releases -->
        <div class="px-4 mb-6 py-4 rounded-lg ">
            <h1 class="font-bold text-lg "></h1>
            <div class="card invoice-info-card  mx-auto col-md-10">
                <div class="card-body">
                    <div class="invoice-item invoice-item-one">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="invoice-logo">
                                    <img src="{{app.CONF.url ? app.CONF.url : '/'}}assets/img/Logo.png" alt="logo">
                                </div>
                                <div class="invoice-head">
                                    <h2 >{{title}}</h2>
                                    <p>Invoice Number : {{order.code}}</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="invoice-info">
                                    <strong class="customer-text-one">Invoice From</strong>
                                    <h6 class="invoice-name">{{app.Settings.sitename}}</h6>
                                    <p class="invoice-details">
                                        {{app.Settings.address}}<br>
                                        {{app.Settings.city}} - {{app.Settings.country}}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="invoice-item invoice-item-two">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="invoice-info">
                                    <strong class="customer-text-one">Billed to</strong>
                                    <h6 class="invoice-name">{{order.customer.name ? order.customer.name : 'Guest'}}</h6>
                                    <p class="invoice-details invoice-details-two">
                                        {{order.customer.phone}} <br>
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="invoice-info invoice-info2">
                                    <strong class="customer-text-one">Payment Details</strong>
                                    <p class="invoice-details">
                                        Payment method: <b class="text-red-500">{{order.payment_method}}</b>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="invoice-issues-box">
                        <div class="row">
                            <div class="col-lg-4 col-md-4">
                                <div class="invoice-issues-date">
                                    <p>Issue Date : {{order.date}}</p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <div class="invoice-issues-date">
                                    <p>Status : {{order.status}}</p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <div class="invoice-issues-date">
                                    <p>Subtotal : {{order.subtotal}}{{app.currency}} </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="invoice-item invoice-table-wrap w-full">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table class="invoice-table  w-full table table-center mb-0">
                                        <thead>
                                            <tr>
                                                <th>Description</th>
                                                <th>Category</th>
                                                <th>Rate/Item</th>
                                                <th>Qty/Duration</th>
                                                <th class="text-end">Amount</th>
                                            </tr>
                                        </thead>
                                        <tbody class="text-center">
                                            {% for orderdevice in order.order_devices %}
                                            <tr>
                                                <td>{{orderdevice.device.name}}</td>
                                                <td>Booking</td>
                                                <td>{{orderdevice.device_cost}} {{app.currency}}</td>
                                                <td>{{orderdevice.duration_hours}}</td>
                                                <td class="text-end">{{orderdevice.subtotal}} {{app.currency}}</td>
                                            </tr>

                                            {% if orderdevice.products %}
                                                {% for device_product in orderdevice.products %}
                                                <tr>
                                                    <td>{{device_product.product.name}}</td>
                                                    <td>Product</td>
                                                    <td>{{device_product.price}} {{app.currency}}</td>
                                                    <td>{{device_product.qty}}</td>
                                                    <td class="text-end">{{device_product.subtotal}} {{app.currency}}</td>
                                                </tr>
                                                {% endfor %}

                                            {% endif %}

                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row align-items-center justify-content-center">
                        <div class="col-lg-6 col-md-6">
                            <div class="invoice-terms">
                                <h6>Notes:</h6>
                                <p class="mb-0">{{app.Settings.invoice_notes}}</p>
                            </div>
                            <div class="invoice-terms">
                                <h6>Terms and Conditions:</h6>
                                <p class="mb-0">{{app.Settings.invoice_terms}}</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="invoice-total-card">
                                <div class="invoice-total-box">
                                    <div class="invoice-total-inner">
                                        <p class="mb-0">Sub total <span>{{order.subtotal}} {{app.currency}}</span></p>
                                        <p>Tax <span>{{order.tax}} {{app.currency}}</span></p>
                                        <p>Discount <span>{{order.discount}} {{app.currency}}</span></p>
                                    </div>
                                    <div class="invoice-total-footer">
                                        <h4>Total Amount <span>{{order.total_cost}} {{app.currency}}</span></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="invoice-sign text-end">
                        <img  class="img-fluid d-inline-block w-12 h-12" src="{{app.CONF.url ? app.CONF.url : '/'}}assets/img/Logo.png" alt="logo">
                        <span class="d-block">{{app.Settings.sitename}}</span>
                    </div>
                </div>
            </div>
            
        </div>

    </main>
    
    <!-- end of main -->
    <div id="main-forms-container">
    </div>

{% include 'views/admin/includes/footer.html.twig' %}